{% extends "base.html" %}

{% block title %}
TaskList page
{% endblock  %}


{% block headline %}
Welcome to TaskList page
{% endblock headline %}

{% block content %}
<div class = 'container'>

    <br>
 
    <form method = "post">
  <div class="mb-3">
    <input type="text" class="form-control" name="task" placeholder="New Task" >
  </div>
  <button type="submit" class="btn btn-primary">Add Task</button>
</form>
 
    <br>

  <table class="table table-bordered"  >
  <thead class= "table-dark">
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Task Name</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for task in all_tasks %}
    {% if task.is_completed  %}
    <tr class="table-success">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{task.task}}</td>
      <td>Completed</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    {% else %}
     <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{task.task}}</td>
      <td>Not Completed</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    {% endif %}
    {% endfor %}
    
  </tbody>
</table>

{% endblock content %}