{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} 
Registration Page 
{% endblock %} 

{% block content %} 

<div class="container py-5">

    <p class="h2 text-center mb-4">Registration Form</p>
    <hr>

    <form method="post" class="col-6">
        {% csrf_token %}

        {{ register_form | crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                Sign Up
            </button>
        </div>
    </form>

</div>

{% endblock %}

